src/main/mule/verify_credentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="buniyaminloginpageFlow" doc:id="2d565937-89b2-462a-a463-29cae15bc190" >
		<http:listener doc:name="Listener" doc:id="7bad26bd-1614-48e5-ace3-efd4a4e12735" config-ref="HTTP_Listener_config" path="/buniyaminloginpage"/>
		<ee:transform doc:name="client_credentials" doc:id="86ce638c-9586-4980-af3c-f3f4258da3ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="810a7010-7849-4aa8-81de-463e0b00be5d" >
			<when expression='#[payload.username == "111" and payload.password == "111"]'>
				<http:load-static-resource doc:name="loadBuniyaminActionPage" doc:id="4b147f40-6de8-43a0-b524-987d05978c23" resourceBasePath="${app.home}/buniyaminloginpage.html"/>
			</when>
			<otherwise >
				<parse-template doc:name="invalid_credentialsResponse" doc:id="bcfb696f-ffc6-48dd-b290-b89c81881a80" outputMimeType="text/html">
					<content >&lt;html&gt;
&lt;body&gt;
&lt;style&gt;
body {
  font-size: 70%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 3em;
}
&lt;/style&gt;
&lt;style&gt;
body  {
  background-image: url(&quot;https://st.depositphotos.com/1431107/2884/v/950/depositphotos_28842149-stock-illustration-oops.jpg&quot;);
  background-color: #aaaaaa;
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}
&lt;/style&gt;

&lt;p style=&quot;font-family:verdana; color:black;&quot;&gt;Invalid credential &lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
			</otherwise>
		</choice>
	</flow>
	<flow name="aphinloginpageFlow" doc:id="68853d16-1abe-4474-a323-4d5cc3c689b6" >
		<http:listener doc:name="Listener" doc:id="79340122-a82d-486a-89ea-5a847c8c6b70" config-ref="HTTP_Listener_config" path="/aphinloginpage"/>
		<ee:transform doc:name="client_credentials" doc:id="6a982a1d-5b94-41ce-b30b-3f373501606e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="a621c4dc-a8b5-4582-b090-3ae4bd0c7e58" >
			<when expression='#[payload.username == "222" and payload.password == "222"]'>
				<http:load-static-resource doc:name="loadAphinActionPage" doc:id="1e20034e-a2a8-4a27-bec7-2772506b5df2" resourceBasePath="${app.home}/aphinloginpage.html"/>
			</when>
			<otherwise >
				<parse-template doc:name="invalid_credentialsResponse" doc:id="16c27f9b-71f2-4ca4-8ee3-39b2dc55a06b" outputMimeType="text/html">
					<content >&lt;html&gt;
&lt;body&gt;
&lt;style&gt;
body {
  font-size: 70%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 3em;
}
&lt;/style&gt;
&lt;style&gt;
body  {
  background-image: url(&quot;https://st.depositphotos.com/1431107/2884/v/950/depositphotos_28842149-stock-illustration-oops.jpg&quot;);
  background-color: #aaaaaa;
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}
&lt;/style&gt;

&lt;p style=&quot;font-family:verdana; color:black;&quot;&gt;Invalid credential &lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
			</otherwise>
		</choice>
	</flow>
	<flow name="aswinloginpageFlow" doc:id="51616bc7-347b-4574-8af9-fc1983dd6511" >
		<http:listener doc:name="Listener" doc:id="e8e2afbc-916d-4b0a-b352-290e2bb2387c" config-ref="HTTP_Listener_config" path="/aswinloginpage"/>
		<ee:transform doc:name="client_credentials" doc:id="931cb3d3-bed9-44f0-99f4-63f619f4bbfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="961dac0b-40ba-441f-87b1-634c869aafc7" >
			<when expression='#[payload.username == "333" and payload.password == "333"]'>
				<http:load-static-resource doc:name="loadAswinActionPage" doc:id="8eccdecd-5d85-4823-8787-19c128c010a6" resourceBasePath="${app.home}/aswinloginpage.html"/>
			</when>
			<otherwise >
				<parse-template doc:name="invalid_credentialsResponse" doc:id="52830e11-2cdb-4b37-ba6d-7cbaf2ec6b84" outputMimeType="text/html">
					<content >&lt;html&gt;
&lt;body&gt;
&lt;style&gt;
body {
  font-size: 70%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 3em;
}
&lt;/style&gt;
&lt;style&gt;
body  {
  background-image: url(&quot;https://st.depositphotos.com/1431107/2884/v/950/depositphotos_28842149-stock-illustration-oops.jpg&quot;);
  background-color: #aaaaaa;
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}
&lt;/style&gt;

&lt;p style=&quot;font-family:verdana; color:black;&quot;&gt;Invalid credential &lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
			</otherwise>
		</choice>
	</flow>
</mule>
